/*@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}
.root{
    -fx-font: 9pt Roboto;
}
.text{
    -fx-font: 9pt Roboto;
}*/
.root {
    -fx-bgrnd-darker: #252726;
    -fx-bgrnd-dark: #2c2e2d;
    -fx-bgrnd: #363837;
    -fx-bgrnd-light: #626463;
    -fx-fgrnd: #c7cbc9;
    -fx-green: #67d11a;
    -fx-orange: #e68400;
    -fx-red: #f81a00;
    -fx-txt-light: #fffbee;
    -fx-txt-dark: #000000;
    -fx-background-color: -fx-bgrnd;
}

.label {
    -fx-text-fill: -fx-txt-light;
}
/** Wrapper for TitleBar + Window*/
#window-wrapper {
    -fx-border-color: -fx-txt-dark;
    -fx-border-width: 1px;
}

#titleBar {
    -fx-background-color: -fx-bgrnd-dark;
    /*-fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-txt-dark;*/
    /* -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 5);*/
}

#btnMinimize {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#btnMinimize > * {
    -fx-icon-color: -fx-txt-light;
}

#btnMinimize:hover {
    -fx-background-color: -fx-orange;
}

#btnMinimize:hover > * {
    -fx-icon-color: -fx-txt-light;
}

#btnClose {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#btnClose > * {
    -fx-icon-color: -fx-txt-light;
}

#btnClose:hover {
    -fx-background-color: -fx-red;
}

#btnClose:hover > * {
    -fx-icon-color: -fx-txt-light;
}

.offline {
    -fx-fill: red;
}

.online {
    -fx-fill: green;
}

.invisible {
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-border-width: 0;
}

.anchor-pane {
    -fx-background-color: -fx-bgrnd;
}

.tab-pane {
    -fx-background-color: -fx-bgrnd;
}

/* Background of TabPane next to Tabs*/
.tab-pane *.tab-header-background {
    -fx-background-color: -fx-bgrnd;
}

/** Contacts,... TabPane and ListViews*/
.tab {
    -fx-background-color: linear-gradient(-fx-bgrnd-light, -fx-bgrnd);
    -fx-font-weight: bold;
}

.tab * {
    -fx-icon-color: -fx-fgrnd;
    -fx-text-fill: -fx-fgrnd;
}

.tab:selected {
    /*-fx-background-color: -fx-green;
    -fx-text-fill: -fx-text-light;*/
    -fx-background-color: linear-gradient(#ffd65b, -fx-orange),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
}

.tab:selected * {
    -fx-icon-color: #654b00;
    -fx-text-fill: #654b00;
}

.tab:hover {
    -fx-background-color: linear-gradient(#ffd65b, -fx-orange),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
    -fx-opacity: 0.85;
}

.tab:hover * {
    -fx-icon-color: #654b00;
    -fx-text-fill: #654b00;
}

.list-view {
    -fx-background-color: -fx-bgrnd;
}

.list-cell {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-background-radius: 10px;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-border-color: -fx-txt-dark;
    -fx-border-radius: 10px;
    -fx-text-fill: -fx-txt-light;
    -fx-pref-width: 100%;
}

.list-cell:empty {
    -fx-background-color: -fx-bgrnd;
    -fx-border-width: 0;
}
.list-cell:selected {
    /*-fx-background-color: -fx-green;*/
    -fx-border-width: 0px;
    -fx-background-color: linear-gradient(rgba(52, 118, 0, 0.93), rgba(70, 168, 0, 0.93));
    -fx-font-weight: bold;
}

.list-cell:selected .label {
    -fx-text-fill: -fx-txt-light;
}

/** Contacts ListView*/
#tabOnlineListView .list-cell,
#tabContactsListView .list-cell {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 1px 0px;
}

#tabOnlineListView .list-cell:selected,
#tabContactsListView .list-cell:selected {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 1px 0px;
}

#tabOnlineListView .list-cell:hover,
#tabContactsListView .list-cell:hover {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 1px 0px;
}
/** GUI bottom (TextField,...)*/
#bottomHbox {
    -fx-background-color: -fx-bgrnd;
    -fx-border-color: -fx-txt-dark;
    -fx-border-width: 1px 0 0 0;
}

/** GUI left (Contacts,...)*/
#vBoxContacts {
    -fx-background-color: -fx-bgrnd;
    -fx-border-color: -fx-txt-dark;
    -fx-border-width: 0 1px 0 0;
}

/** GUI Center (Chats,...)*/
#vBoxChat {
    -fx-background-color: -fx-bgrnd;
    -fx-border-color: -fx-txt-dark;
    -fx-border-width: 0 1px 0 0;
}

#rootPane {
    -fx-background-color: -fx-bgrnd;
}
* {
    -fx-focus-color: transparent;
    -fx-icon-color: -fx-txt-light;
}

.label {
    -fx-text-fill: -fx-txt-light;
}

#labelLogo {
    -fx-text-fill: -fx-green;
}

#labelLogo .text {
    -fx-stroke: -fx-txt-dark;
    -fx-stroke-width: 1px;
    -fx-effect: dropshadow(three-pass-box, -fx-txt-dark, 6, 0, 0, 0);
}
.menu-button {
    -fx-padding: 2px;
    -fx-background-color: -fx-bgrnd-darker;
}

.menu-button > .label {
    -fx-text-fill: -fx-txt-light;
}

.check-menu-item {
    -fx-text-fill: -fx-txt-dark;
}

.check-menu-item > .label {
    -fx-text-fill: -fx-txt-light;
}

/** CheckBox translate*/
#checkTranslate {
    -fx-text-fill: -fx-txt-light;
}

#checkTranslate > * {
    -fx-icon-color: -fx-fgrnd;
}

#checkTranslate:selected > * {
    -fx-icon-color: -fx-green;
}

#checkTranslate:selected {
    -fx-text-fill: -fx-green;
}

#checkTranslate > .box {
    -fx-background-color: transparent;
    -fx-shape: none;
}

#checkTranslate .mark {
    -fx-background-color: transparent;
    -fx-shape: none;
    -fx-mark-color: transparent; /* OK */
    -fx-focused-mark-color: transparent;
}

#labelError {
    -fx-text-fill: #ff5342;
}

#labelSuccess {
    -fx-text-fill: -fx-green;
}

#labelInfo {
    -fx-text-fill: -fx-txt-light;
}

.invalid {
/ / -fx-border-color: linear-gradient(to bottom, rgba(255, 4, 0, 0), #cd0006);
    -fx-border-color: rgba(255, 13, 0, 0.67);
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

.tab-notification {
    /*-fx-background-color: blue !important;*/
    -fx-background-color: linear-gradient(#13d02e, #3c8a35) !important;
    -fx-text-fill: #654b00;
}

.context-menu {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-text-fill: -fx-txt-light;
}

.menu-item:focused {
    -fx-background-color: linear-gradient(#e68400, #ffd65b);

}

.menu-item:focused .label {
    -fx-text-fill: #654b00;
}
.avatar {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.77), 10, 0, 0, 1);
}

.icon-left {
    -fx-background-color: -fx-txt-dark;
    -fx-background-radius: 8px 0 0 8px;
}

.text-field {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-text-fill: -fx-txt-light;
}

.text-area {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-control-inner-background: -fx-bgrnd-darker;
    -fx-text-fill: -fx-txt-light;
}

.text-area .content {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-background-radius: 0;
}

.text-area.scroll-pane {
    -fx-background-radius: 0;
}

/** Scroll bar of TextArea*/
.scroll-bar:vertical .track {
    -fx-background-color: -fx-bgrnd-dark;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-bgrnd-darker;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.button {
    -fx-background-radius: 16;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.77), 10, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 120%;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 16;
    -fx-border-color: rgba(0, 0, 0, 0.19);
    -fx-border-width: 2px;
}

.button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 5);
}

.button:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 5);
}

/** Colors */
.orange {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
    -fx-text-fill: #654b00;
    -fx-icon-color: #654b00;
}

.orange > * {
    -fx-icon-color: #654b00;
}
.orange:hover {
    -fx-background-color: linear-gradient(#e68400, #ffd65b),
    linear-gradient(#f2ba44, #ffef84),
    linear-gradient(#efaa22, #ffea6a);
    -fx-text-fill: #654b00;
}

.red {
    -fx-background-color: linear-gradient(#ff836d, #e60700),
    linear-gradient(#ff6464, #f80003),
    linear-gradient(#ff6464, #f80003),
    linear-gradient(#ff6464 0%, #f80003 50%, #ee1518 100%);
    -fx-text-fill: #4d0301;
    -fx-icon-color: #4d0301;
}

.red > * {
    -fx-icon-color: #4d0301;
}

.red:hover {
    -fx-background-color: linear-gradient(#e60400, #ff6262),
    linear-gradient(#f80003, #ff6464),
    linear-gradient(#f80003, #ff6464);
    -fx-text-fill: #4d0301;
}

.green {
    -fx-background-color: linear-gradient(#84ff50, #4fc300),
    linear-gradient(#9aff7a, #7af241),
    linear-gradient(#94ff69, #72ef2e);
    -fx-text-fill: #2a6500;

}

.green > * {
    -fx-icon-color: #2a6500;
}
.green:hover {
    -fx-background-color: linear-gradient(#56e600, #84ff50),
    linear-gradient(#7af241, #9aff7a),
    linear-gradient(#72ef2e, #94ff69);
    -fx-icon-color: #2a6500;
}

